body {
    font-family: monospace;
    text-align: center;
}

#page-wrap {
    width: 800px;
    margin: 0 auto;;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
}

td {
    height: 55px;
    width: 55px;
    font-size: 18px;
    text-align: center;
}

td > input[type="submit"] {
    width: 55px;
}

input[type="submit"] {
    margin: 0;
    height: 55px;
    width: auto;
    font-size: 18px;
    font-family: monospace;
    box-shadow: none;
    text-align:center;
    border-radius: 0;
    padding: 8px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
input[type="submit"]:hover {
    outline: none;
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

