@import uk.nickbdyer.tictactoe.Mark

@import uk.nickbdyer.tictactoe.Mark._
@(message: String, board: List[Mark])

@main("TicTacToe") {

    <h1>TicTacToe</h1>

    @message

    X plays first!

    <table>
        <tbody>
            @for(index <- 0 until board.size){
                @if(index % 3 == 0){
                    <tr>
                }
                @if(board(index) == Mark.EMPTY){
                    <td><input type="text" value=""></td>
                } else {
                    <td><input type="text" value="@board(index)"></td>
                }

                @if(index % 3 == 2 || index == (board.size - 1)){
                    </tr>
                }
            }
        </tbody>
    </table>

}