@import uk.nickbdyer.tictactoe.PlayerType

@(message: String, playerTypes: Array[PlayerType])

@main("TicTacToe") {

    <h1>TicTacToe</h1>

    @message

    <form method="post" action="/setupGame">
        Player 1:<br />
        @for(index <- 0 until playerTypes.length - 1) {
            @playerTypes(index)<input id="p1@playerTypes(index)" name="player1" type="radio" value="@index">
            <br />
        }
        Player 2:<br />
        @for(index <- 0 until playerTypes.length - 1) {
            @playerTypes(index)<input id="p2@playerTypes(index)" name="player2" type="radio" value="@index">
            <br />
        }
        <input id="setupGame" type="submit"/>
    </form>

}
